# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

backupAmplify/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

#other
.cache
.storybook
amplify
.amplifyrc
NOTES.md
TODO.txt
testSchema.graphql

src/stories
src/old_components
src/customAuthTheme.js

